# ============================================
# LeadKeeper - Docker Environment
# ============================================
# Скопируйте в backend/.env

# ---- SMTP Settings ----
OWNER_EMAIL=your@email.com

SMTP_HOST=smtp.mail.ru
SMTP_USER=your@email.com
SMTP_PASS=APP_PASSWORD_HERE
SMTP_PORT=465
SMTP_SECURE=true

SMTP_HOST_2=
SMTP_USER_2=
SMTP_PASS_2=
SMTP_PORT_2=2525
SMTP_SECURE_2=false

SMTP_METHOD=1