OWNER_EMAIL=test@d9911.org

SMTP_HOST=smtp.mail.ru
SMTP_USER=d.9911@mail.ru
SMTP_PASS=pass
SMTP_PORT=465
SMTP_SECURE=true # 5сли в двух местах стоит false некуда нечегт не отправляется

SMTP_HOST_2=sandbox.smtp.mailtrap.io
SMTP_USER_2=user_name
SMTP_PASS_2=pass
SMTP_PORT_2=2525
SMTP_SECURE_2=false

SMTP_METHOD=1